<div class="container-fluid text-left">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>Lista de anos com múltiplos vencedores</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Anos</th>
                                <th scope="col">Vencedores</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let yearWithWinnerCount of YearWithWinnerCount">
                                <td>{{ yearWithWinnerCount.year }}</td>
                                <td>{{ yearWithWinnerCount.winnerCount | number }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>Top 3 estudios com vencedores</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Contagem de Vitórias</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let studiosWithWinCount of StudiosWithWinCount">
                                <td>{{ studiosWithWinCount.name }}</td>
                                <td>{{ studiosWithWinCount.winCount | number }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>Produtores com o maior e menor intervalo entre vitórias</h3>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Produtor</th>
                                <th scope="col">Intervalo</th>
                                <th scope="col">Vitória Anterior</th>
                                <th scope="col">Vitória Seguinte</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let min of MinProducerWinInterval">
                                <td>{{ min.producer }}</td>
                                <td>{{ min.interval | number }}</td>
                                <td>{{ min.previousWin }}</td>
                                <td>{{ min.followingWin }}</td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Produtor</th>
                                <th scope="col">Intervalo</th>
                                <th scope="col">Vitória Anterior</th>
                                <th scope="col">Vitória Seguinte</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let max of MaxProducerWinInterval">
                                <td>{{ max.producer }}</td>
                                <td>{{ max.interval | number }}</td>
                                <td>{{ max.previousWin }}</td>
                                <td>{{ max.followingWin }}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>Lista de filmes vencedores por ano</h3>
                </div>
                <div class="card-body">
                    <form class="row needs-validation" (ngSubmit)="searchByYear()" novalidate>
                        <div class="input-group">
                            <div class="col-11">
                                <input type="text" class="form-control" [class.is-invalid]="yearSearchError" list="datalistOptions" id="search01" placeholder="Search by year" [(ngModel)]="yearToSelect" name="yearToSelect" required>
                                <datalist id="datalistOptions">
                                    <option value="1990">
                                    <option value="1991">
                                    <option value="1992">
                                    <option value="1993">
                                    <option value="1994">
                                    <option value="1995">
                                    <option value="1996">
                                    <option value="1997">
                                    <option value="1998">
                                    <option value="1999">
                                    <option value="2000">
                                </datalist>
                                <div *ngIf="yearSearchError" class="invalid-feedback">
                                    {{ yearSearchError }}
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="submit" class="btn btn-primary mb-3">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="row" *ngIf="yearWinnersMovies && yearWinnersMovies.length > 0">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Ano</th>
                                    <th scope="col">Estudio</th>
                                    <th scope="col">Produtores</th>
                                    <th scope="col">Venceu?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let movie of yearWinnersMovies">
                                    <td>{{ movie.title }}</td>
                                    <td>{{ movie.year }}</td>
                                    <td>{{ movie.studios }}</td>
                                    <td>{{ movie.producers }}</td>
                                    <td>{{ movie.winner ? 'Sim' : 'Não' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div *ngIf="yearWinnersMovies && yearWinnersMovies.length === 0" class="alert alert-info" role="alert">
                        Nenhum filme vencedor encontrado para o ano {{ yearToSelect }}.
                </div>
            </div>
        </div>


    </div>
</div>